.devmcee-mega-menu-builder-content {
  &-container {
    display: flex;
    flex-grow: 1;
    height: 100%;
    background-color: var(--devmcee-mega-menu-admin-primary-contrast-color);
    min-width: var(--devmcee-mega-menu-admin-builder-container-root-column-width);
  }

  &__root-menu {
    display: flex;
    flex-direction: column;
  }

  &-action-bar {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    border-left: 1px solid var(--devmcee-mega-menu-border-color);
    border-right: 1px solid var(--devmcee-mega-menu-border-color);
  }

  &-action-button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: var(--devmcee-mega-menu-admin-action-button-primary-color);

    &:hover {
      color: var(--devmcee-mega-menu-admin-action-button-primary-color-hover);
    }

    &:disabled {
      color: var(--devmcee-mega-menu-admin-action-button-primary-color-disabled);
      cursor: not-allowed;
    }

    &--delete {
      color: var(--devmcee-mega-menu-admin-action-button-primary-color-delete);
    }

    &--delete:hover {
      color: var(--devmcee-mega-menu-admin-action-button-primary-color-delete-hover);
    }
  }

  &-menu-container {
    border: 1px solid var(--devmcee-mega-menu-border-color);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: var(--devmcee-mega-menu-admin-builder-container-root-column-width);
  }
}