.devmcee-mega-menu-builder-menu-item-form {
  &-title {
    &-bar {
      padding: 8px;
      display: flex;
      justify-content: space-between;
      background-color: var(--devmcee-mega-menu-admin-background-secondary-color);
    }
  }

  &__fields-container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    & textarea,
    & input {
      width: 100%;
      border-color: var(--devmcee-mega-menu-admin-border-secondary-color);
    }
  }

  &__footer-actions-container {
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }
}