.devmcee-mega-menu-builder-content {
  &__sub-menu {
    display: flex;
    width: 100%;
    &-container {
      padding: 8px;
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      column-gap: 8px;
      align-items: flex-start;
    }
    &-column {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      border: 1px solid var(--devmcee-mega-menu-admin-border-secondary-color);
      width: 33.33%;
      height: 100%;
      
      &-header {
        display: flex;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid var(--devmcee-mega-menu-admin-border-secondary-color);
      }

      &-content {
        padding: 8px;
      }
    }
  }
}